{% extends "base.html" %}

{% block body %}
<div class="relative ">


  <div class="left w30">
           <div class="list-group" data-contentid="rightContainer" data-activeid="{{ activeid if activeid  else "noteListDetail" }}">
          <a id="noteListDetail" href="/my/notes" data-url="/my/notes" class="list-group-item   active">
            备忘录
          </a>
          <a id="noteNew" href="/my/notes/compose" data-url="/my/notes/compose" class="list-group-item">发布</a>
          <a id="noteList" href="/my/notes/archive" data-url="/my/notes/list" class="list-group-item  ">列表</a>

        </div>
  </div>

      <div class="right w65" id="rightContainer">
            {% block rightContent %}
                   {% for entry in records %}
                        {% module Record(entry) %}
                   {% end %}
            {% end %}

      </div>

</div>

   <script src="{{ static_url("js/mynotes.js") }}"></script>
{% end %}
